BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/templateMonorepo

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=Template Monorepo
SMTP_FROM_EMAIL=

NEXT_PUBLIC_BETTER_AUTH_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3333
NEXT_PUBLIC_APPLICATION_TIMEZONE=America/Cuiaba

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
