NODE_ENV=development
PORT=3333

DATABASE_URL=postgres://postgres:postgres@localhost:5432/templateMonorepo

DOCKER_PG_PORT=5432
DOCKER_PG_USER=postgres
DOCKER_PG_PASSWORD=postgres
DOCKER_PG_DB=templateMonorepo

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=Template Monorepo
SMTP_FROM_EMAIL=


BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3333
FRONTEND_URL=http://localhost:3000